---
# See more at https://istio.io/docs/reference/config/networking/service-entry/
apiVersion: networking.istio.io/v1alpha3
kind: ServiceEntry

metadata:
  name: slack

spec:
  hosts:
    - "*.slack.com"
  ports:
    - number: 80
      name: http
      protocol: HTTP
    - number: 443
      name: https
      protocol: HTTPS
